<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found</title>
    <link rel="icon" type="image/x-icon" href="favicon (1).ico"/>
    <style>*{text-align:center;color:#393E46;}body{background-color:#222831}
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
#btn{
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #F0A500;
padding: 10px 30px;
border: 2px solid #FEB139;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 500ms;
transform: translateY(0);
align-items: center;
cursor: pointer;
}
#btn:hover{
transition : 500ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}
    </style>
</head>
<body>
    <h1>Found in database!!</h1>
    <a href="/search">
    <button id="btn">check another?</button>
    </a>
    <a href="/">
        <button id="btn">goto home</button>
        </a>
</body>
</html>
